<a href="https://colab.research.google.com/github/r-ranjithlingaiah/Python/blob/main/python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-+# what are flowcharts?
# flolowcharts is a diagrammatic representation of sequence of loghical steps of a program.
# symbols---> flowcharts use simple geometric shapes and arrows for processes and data flow.

# My Approach for getting idea
 #input-> process-> Output Stategy


# Algorithams
# Algoritham is a step-by-step process , which defines a set of instructions to be executed in a certain order to get desied output.

# Sun of 2 digits:

# step 1 - START
# step 2 - declare three integers a,b,c
# step 3 - define values of a & b
# step 4 - sum calculation of a & b
# step 5 - store output of step 4 to c
# step 6 - print c
# step 7 - Stop

# Sum of 2 digits Explaination

# Pseudocode :-
# ---> A way of expressing an algoritham with out conforming to specific syntax rules.
#---> An informal high-level representation of the actual code
# Example:--
#set i to 0
#for each i from 0 to 9
#  if i is odd
#print iset
#end for loop

# Time & Space Complexity
# Time Complexity:
#The time complexity of an  algorithm quantifies the amount oftime taken by any algorithm to run as a function of the length of the input.

# Space Complexity:
# Problem - solving using computer requires memory to hold temporay data or final result while the program is in execution . the amount of memory required by the algorithm to solve.

# Module - 3
# python introduction

#1. Keywords
#2. Identifiers
#3. Variables, constants, Literals
#4. Datatypes and Types conversions
#5. operators
#6. comments


# 1.keywords
# keywords are prfedefined, reserved word used in python programing.
# we connot use a keyword as a variable name , function name , or any other Identifier.

# List of key words
# None, and, as, assert, break, continue, def, del, except, for, from, global, in lambda, nonlocal, or,raise,try, while, yield,false, true, async, await, class, elif, alse,, finally, if, else, finally,import, is not

# identifiers
# identifiers are the name given to variables, classes, methods, and etc....

SyntaxError: invalid syntax (<ipython-input-1-68b375d11caa>, line 1)

In [ ]:
# Varuable identifiers
#age = 25
#name = "John"
#count = 0
#total_price = 100.50
# is_student = True

In [ ]:
# Rulse


# Stat with a Letter or Underscores
# Followed by Letters, Digits, or Underscores
# Avoid starting with a Digit
# No speci characters (!, @, $,%,&,etc...)
#Case - sensitive (eg: age, Age and AGE)
#Avoid using keywords

In [ ]:
# Text Data Type
# string
#str reptesent string of charecters, enclosed in single,dounle,or triple quotes.
# e.g:
'hello'
"hello"
"""hello"""

'hello'

In [ ]:
# Numaric data types

# int
#Represents integer value
# eg: 1, -10, 100

# flot
# Represents floting point or decimal value
# eg: 3.14,-2.5

# comple
# comlpex values
# eg: 3.14j, 1-2i

In [ ]:
# SEQUENCE DATA TYPE:

# TUPLE:

# ordered
# immutable
# separated by commas
# enclosed in parentheses
# eg: (1,2,3)

# LIST:

# ordered
# immutable
# separated by commas
# enclosed in squarear brackets
# eg: (1,2,3)

In [ ]:
# MAPING DATA TYPES:
# dict
# represents unorder collections of key-value pairs, enclosed in curly braces
# eg: {'name':'John','age':30}...

In [ ]:
# SET DATA TYPE :
# set
# represent unordered collections of uniquse elements, enclosed in curly braces
# (eg:{1,2.3})...

In [ ]:
# BOOLEAN DATA TYPES

#bool
#bool represents boolean values, which can be either True or False . Often used for logical operations and conttol flow.

In [ ]:
# NONE DATA Type:

#none
# Represents a spacial object that indicates the absence of value or a "null" value.

In [ ]:
# TYPE CONVERSION

 # in programming, type conversion is the process of converting data of one type to another.
 # For eg: converting int data to str.

In [ ]:
print("thos is my first program hello world",5+5)

thos is my first program hello world 10

In [ ]:
a = 100
print(type(100))

<class 'int'>

In [ ]:
a = 100
b = 1.5
c = a+b
print(type(a))
print(type(b))
print (c)
print(type(c))

<class 'int'>
<class 'float'>
101.5
<class 'float'>

In [ ]:
# Type of Conversion
# 1. implicit type conversion --> python automically convert one data type to another .
# 2. Expticit type conversion--> User convert the data type an object to requiregd data type.

In [ ]:
a = 100
a = float(a)
print(type(a))
print(a)

<class 'float'>
100.0

In [ ]:
# Built - in type conversion functions

# int (): Converting to integer.
# flot(): Converts to a floating - pouint number.
# str(): Converts to a string.
# bool(): Converts to a list.
# tuple(): Converrt to a tuple.
# Set(): Convert to a set.
# dict(): converts to a dictionaly

In [ ]:
# Hnds on ExAamples




num =5 + 2.0
print(num)
print(type(num))

7.0
<class 'float'>

In [ ]:
# type casting of int
num_int = int(5.7)
print(num_int)

5

In [ ]:
# Typecasting to flat
num_float = float("3.14")
print(num_float)

3.14

In [ ]:
# typecasting of string
message = str(42)
print(message)

42

In [ ]:
#typecasting to boolen
is_true = bool(1)
is_false = bool(0)
print(is_true)
print(is_false)

True
False

In [ ]:
# values of error
non_numeric_string = "Hello"
num_int = int(non_numeric_string)
print("converted value:",num_int)

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
# Intrudection to Ascii values
# The "ASCLL value" of a character is a number that represents that character in the computer's memory.'[]

In [ ]:
char_a = 'A'
ascii_value_a = ord(char_a)
print(ascii_value_a)

65

In [ ]:
#ord & chr()
# in python you can use the ord() function ti find the Ascii value of a character.
char_a = 'A'
char_b = 'B'
ascii_value_a = ord(char_a)
ascii_value_b= ord(char_b)
print("ASCII value of 'A' is:", ascii_value_a)
print("ASCII value of 'B' is:", ascii_value_b)

ascii_value = 65
character = chr(ascii_value)
print("Character of ASCII value 65 is:",character)

ASCII value of 'A' is: 65
ASCII value of 'B' is: 66
Character of ASCII value 65 is: A

In [ ]:
# OPERATORS:

# Arthamatic operator
# Assignment Operator
# Comparison operators
# Logical operators
# Bitwise operator
# special Operators

In [ ]:
# ARTHAMATIC OPERATOR:

# Addition (+) : Add two operands
# subtraction (-): Subtracts the right operand from the left operand.
# Multiplication(*): Multiplies two operands.
# Division(/): Divides the left operand by yhe right operand (returns a float)
# Floor Division(//): Divise the left operand by the right operand and rounds down to the nearst intrger (returns an integer)
# Modulo(%): returns the remainsder of the dividion.
# Exponentiation (**): Rises the left operand to the power of the right operand.

In [ ]:
# Addition
a = 5
b = 10
c = a+b
print(c)

15

In [ ]:
# Subtraction
d = 7
f = 3
g = d - f
print (g)

4

In [ ]:
# Multiplication
e = 3
f = 4
g = e*f
print(g)

12

In [ ]:
# Divide
h = 10
i = 3
j = h / i
print(j)
print(round(j))

3.3333333333333335
3

In [ ]:
# integer division (Floorn Division)
a = 10
b = 3
c = a//b
print(c)

3

In [ ]:
# modulo(remainder)
a= 10
b = 3
c = a%b
print(c)

1

In [ ]:
# exponentional
a = 2
b = 3
c = a**b
print(c)

8

In [ ]:
# Assigenment operators:

# Assignment(=): assigns the value on the right to the variable on the left.
# Add and Assignment(+=): Adds the right operand to the variable on the left and assigns the result to the variable.
# Subtract and Assign: Subtracts the right operand from the variable on the left and assigns the result to the variable.
# Multiply and  Assign(*=): Multiplies the variable on the left by the right operand and assigns the tesult to the variable.
# Divide and Assign (/=): Divides the variable on the left by the right operand and assigns the result to the variable.
# Floor Divide and Assign : Floor divides the varible on the left by the right ioerand and assigns the result to variable.
# Modulo amd assign(%=): Calculates the remainder of the division and assigns it to the veriables.
# **= Exponentiate and Assign(**=): Rasies the variables on the left to the power of the right operand and assigns the result to the variable.

In [ ]:
a = 10
b = 20
print(a)
print(b)
a += b
print(a)

10
20
30

In [ ]:
# Assignment operators (=):

x = 10
print(x)

10

In [ ]:
# Add and Assign(+=)
a = 5
a += 3
print(a)

8

In [ ]:
# Subtract and assign(-=)
a = 8
a -= 2
print(a)

6

In [ ]:
#Multiply and assign:
a = 8
a *=3
print(a)

24

In [ ]:
# Divide and ASsign(/=):
a = 52
a /= 3
print(a)
print(round(a))

17.333333333333332
17

In [ ]:
# Floor Divide and Assign:
a = 52
a //= 3
print(a)

17

In [ ]:
# Modulo and Assign:
a = 52
a %= 3
print(a)

1

In [ ]:
#Exponentiate and Assign
a = 2
a **= 6
print(a)

64

# comparision operators

In [ ]:
#  equql to (==): checks if two values are equql.
#  Not equal to (!=): Checks if two values are not equal.
#  Greater than(>): check if the left operator is greater than right operand.
# Less than (<): Check if the left operand is less than the right operand.
#  Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right operand.
# Less than or equal to (<=):Checks if the life operand less than or equal to right operand.

In [ ]:
#  equql to (==)
a = 10
b = 20
print(a == b)

c = 20
d = 20
print (c ==d)

False
True

In [ ]:
#  Not equal to (!=):
a = 7
b = 6
print(a != b)

c = 52
d =52
print(c != d)

True
False

In [ ]:
#  Greater than(>):
a = 52
b = 55
print (a > b)

c = 56
d = 52
print(c > d)

False
True

In [ ]:
# Less than (<):
a = 52
b = 55
print (a < b)

c = 56
d = 52
print(c < d)

True
False

In [ ]:
 # Greater than or equal to (>=):
a = 52
b = 55
print (a >= b)

c = 56
d = 52
print(c >= d)

False
True

In [ ]:
#Less than or equal to (<=):
a = 52
b = 55
print (a <= b)

c = 56
d = 52
print(c <= d)

True
False

# Logical operatots

In [ ]:
# and Logical AND : Returrns TRrue if both condationas True.
# or Logical OR : returns True if at least one condition is True.
# not Logical NOT : Returns True if the condition is False, and Vice versa

In [ ]:
# Logical Operator : AND
x = True
Y = False
z = x and Y
print(z)

False

In [ ]:
# Logical operator : OR
a = True
b = False

c = a or b
print(c)

True

In [ ]:
# Logical operator : NOT
f = True


h =  not f
print(h)

False

# Membership operators

In [ ]:
# in Membership : Returns True if the value is present in the sequence.
# not in Negated Membership: Returns True if the value is not present in the sequence.

In [ ]:
# in Membership :
t = [1,2,3,4,5,6]
print(1 in t)
print(10 not in t)
print (9 in t)

True
True
False

In [ ]:
fruits = ['apple','banana','orange','grape']
#  check if 'apple' is in the list
is_apple_in_list = 'apple' in fruits
print("'apple' is in the list :")

# check if 'watermelon' is not in the list
is_watermelon_not_in_list = 'watermelon' not in fruits
print("'watermelon' is not in the list:", is_watermelon_not_in _list)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-12-c8ce562ccf77>, line 8)

In [ ]:
# variables with the same values
name1 = "john"
name2 = "john"

# check if name1 and name2 refer to different objects in memory
name3 = name1 is not name2
print(name3)

# variables with different values
num1 = 10
num2 = 20

# check if num1 and num2 refer to different objects in memories
num3 = num1 is not num2
print(num3)

False
True

# Bitwise Operator

In [ ]:
# Bitwise AND (&): set each bit to 1 if both bits are 1.
# Bitwise OR (|) : set each bit to 1 if at least one of the bits is 1.
# Bitwise XOX (^): Set each bit to 1 if only one of the bits is 1.
# Bitwise NOT(~): Inverts the bits, changing 1 to 0 and to 1.
# Bitwise left shift(<<): shift the bits to the left by a specified number of positions.
# Bitwise right shift(>>): shift the bits to the right by a specified number of positions.

In [ ]:
# Bitwise AND (&):
a = 2
b = 3
print(a&b)

2

In [ ]:
# Bitwise OR (|) :
a = 2
b = 3
print(a|b)

3

In [ ]:
# Bitwise XOX (^):
a = 2
b = 3
print(a^b)

1

In [ ]:
# Bitwise NOT(~):
a = 2
b = 3
print(a~b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-19-4c31551c772b>, line 4)

In [ ]:
# Bitwise left shift(<<):
a = 2<<2
print(a)

8

In [ ]:
# Bitwise right shift(>>):
a = 2>>2
print(a)

0

# SYNTEX & INDENTATION

In [ ]:
# input:--
#"input()" function is used to take input from the user via the keyboard during the program,s execution

# Types

# input()----> string
# int()---> integet
# float()----->float

In [ ]:
# input statements:
name = input()
print("my name is ", name)
print(name)

ranjith
my name is  ranjith
ranjith

In [ ]:
# string input:---> using input for name (string)
abs = input("enter abs value is:")
print(abs)

enter abs value is:123
123

In [ ]:
num = input("give number: ")
print(type(num))

12
<class 'str'>

In [ ]:
# syntax for integer input

# int input:
# User input for age (integer)
age_str = input("how old are you ?")
age = int (age_str)
# comvert the input string to intrger

how old are you ?21

In [ ]:
num = int(input("hello"))
print(type(num))

hello1
<class 'int'>

In [ ]:
# int input
# user input for age (integer)
age_str = int(input("how old are you?"))

how old are you?21

In [ ]:
# float input
# user input for wright(float)
weight_str = input("Enter your weight in kilograms:")
weight = float(weight_str)
print(type(weight))
# convrt the input string to a float

Enter your weight in kilograms:20
<class 'float'>

In [ ]:
# float input
# user input for weight(float)
weight_str = float (input("Enter your weight in kilograms:"))

Enter your weight in kilograms:20

In [ ]:
name = input("enter your name: ")
age = int(input("enter your age: "))
print("hello," + name + "! you are", age, "years old.")

enter your name: ranjith
enter your age: 21
hello,ranjith! you are 21 years old.

In [ ]:
# OUTPUT
# The print() function is used to display output to the console or terminal. it allows you to show information

# object
# sep
# end
# file
# flush

In [ ]:
a = int(input("give a value :"))
b = int(input("give b value :"))

print(a,b)

give a value :10
give b value :20
10 20

In [ ]:
# sep
a = int(input("give a value :"))
b = int(input("give b value :"))

print(a,b,sep="-")

give a value :10
give b value :10
10-10

In [ ]:
a = int(input("give a value :"))
b = int(input("give b value :"))

print(a,b,sep = "hello")

give a value :10
give b value :20
10hello20

In [ ]:
# end
a = int(input("give a value :"))
b = int(input("give b value :"))

print(a,b,a,b,sep=",",end="ended hear.")

give a value :10
give b value :20
10,20,10,20ended hear.

In [ ]:
a = input("enter name:")
print("hello",a, sep=", ", end="!")

enter name:10
hello, 10!

In [ ]:
10
JOHN

In [ ]:
# file
a = int(input("give a value :"))
b = int(input("give b value :"))

print(a,b)

give a value :10
give b value :20
10 20

In [ ]:
num = int(input("give value of num:"))
print(num)

give value of num:20
20

In [ ]:
print("you entered:",num, sep="")

you entered:20

In [ ]:
#float input and output
num = float(input("give the value of num:"))
print(num)

give the value of num:3.14
3.14

In [ ]:
print("value of pi:",num)

value of pi: 3.14

In [ ]:
# Takeing multiple inputs in a single Line:
a = input()                                 # input 10,20,30   # output = 60
x,y,z =a.split(" ")
sum = int(x)+int(y)+int(z)
print(sum)

10 20 30
60

In [ ]:
# specifying separator in output
# input = "john", 25
# output = Name: "John,Age:25"
a = input("enter name and age:")
name,age = a.split(",")
print("Name:",name,",","age:",age)

enter name and age:John,25
Name: John , age: 25

In [ ]:
# End parameret in Output:
# input : 5
# output : "countdowm:5 4 3 2 1 Blast Off
n = int(input("Enter n:"))
print("Countdown: 5 4 3 2 1"," "," Blast Off!")

Enter n:5
Countdown: 5 4 3 2 1    Blast Off!

In [ ]:
# Arthamatic operators:
# input = 10,5
# output = addition:15,subtraction:5,Multiplication:50,Division:2.0
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [ ]:
x,y = input("Enter a and b values:").split(",")
a = int(x)
b = int(y)
print("addition",a+b,",subtraction",a-b,",Multiplication",a*b,",Division",a/b)

Enter a and b values:10,5
addition 15 ,subtraction 5 ,Multiplication 50 ,Division 2.0

In [ ]:
# comparison Operators
# input= 10, 5
#output =  10>5:True,10<5:False,10==5:False,10! = 5: True
x,y = input("Enter a and b values:").split(",")
a = int(x)
b = int(y)
print(a>b,":",a<b,":",a==b,":",a!=b,":")

Enter a and b values:10,5
True : False : False : True :

In [ ]:
 x,y = input("Enter a and b values:").split(",")
a = int(x)
b = int(y)
print(a>b,a<b,a==b,a!=b)

Enter a and b values:10,5
True False False True

In [ ]:
# logical operator
# input= True,False
# Output= "True and False:False,True or False : True, not True : False"
x,y = True,False
prin(x and y,x or y,not x)

NameError: name 'prin' is not defined

In [ ]:
# Formatting Output using f-strings
# input ="Alice",25
# output = "name:Alice,Age:25years"

x,y = input("Enter name and age:").split(",")
print(f"Name:{x},Age:{y}years")

Enter name and age:Alice,25
Name:Alice,Age:25years

# PROBLUM SOLVING

## FINDING THE SUM OF TWO NUMBERs

In [ ]:
# input = num1 = 5, num 2 = 10
# output = sum = 10
# Topics Covered :
# input and output , variables , arithametioc operators.

In [ ]:
num1 = int (input())
num2 = int (input())
print("Sum:", num1+num2)
print("Sum:", num1+num2,sep=" ")
print(f"Sum:{num1+num2}")

5
10
Sum: 15
Sum: 15
Sum:15

In [ ]:
# finding the area of Circle
# input = radius = 5
# output = Area of circle : 78.53981633974483

radius = int (input())
print(3.14**radius)
print(3.14*radius*radius)
print("Area of circle :",3.14*radius*radius)

5
305.2447761824001
78.5
Area of circle : 78.5

In [ ]:
s = int (input())
a = 3.14*(radius**2)
print(a)
print("Area of circle :",a)
print(f"Area of circle :",a)
print(f"Area of circle :",a)
print(f"Area of circle :",a)
print(f"Area of circle :{a}")
print(f"Area of circle :",a, sep = " ")

5
78.5
Area of circle : 78.5
Area of circle : 78.5
Area of circle : 78.5
Area of circle : 78.5
Area of circle :78.5
Area of circle : 78.5

In [ ]:
# Solving Quadratic Equation:
# input:    a = 1, b = -3, c = 2
# output: Root:(2.0,1.0)
#   Quadric equation :---> ax^2 + bx + c = 0  ===> d = b^2-4ac


a = int (input("Give a : "))
b = int (input("Give b : "))
c = int (input("Give c : "))
d = (b**2)-4*a*c
r1 = (-b+(d**(0.5)))/2*a
r2 = (-b-(d**(0.5)))/2*a
print(f"Root :({r1},{r2})")

Give a : 1
Give b : -3
Give c : 2
Root :(2.0,1.0)

In [ ]:
# swap the values of two variables without using a temporary variable
# input :  a = 10, b = 20
# output = After swapping  a = 20, b = 10

a = int(input("Give a :"))
b = int(input("Give b :"))

temp = b
b = a
a = temp
print(f"value of a is : {a}")
print(f"value of b is : {b}")

Give a :10
Give b :20
value of a is : 20
value of b is : 10

In [ ]:
a = int(input("Give a :"))
b = int(input("Give b :"))

b = b+a
a= b-a
b = b-a
print(f"value of a is : {a}")
print(f"value of b is : {b}")

Give a :10
Give b :20
value of a is : 20
value of b is : 10

In [ ]:
# Convarting Temperature Units
# input: temperature_celsius = 30
# Output: Temperature in Fahrenheit : 86.0         Temperaturen in Kelvin : 303.15
a = int(input())
c = temperature_celsius
f = c * (9/5) + 32
k = 273+c
print(f"Temperature in Fahrenheit:{f}")

30

NameError: name 'temperature_celsius' is not defined

In [ ]:
 x = 8
 y = 2
 x = x+6
 y = y+6
 print("y")

y

DECISION MAKING

In [ ]:
# what is decision making ?
# ===> The or process of deciding something
# ===> Bsaic on certain criteria or conditions

# Condational Statements

In [ ]:
# The most common conditional statements used for decision-making in programming are
# ==> if
# ==> if-else
# ==> if-elif==>
# ==> if-elif-else


# switch-case

In [ ]:
# ==> if
# ==> if ==> coad to be executed if the condition is true
# SYNTEX : The condation is expression that evaluates to either thrue or false . if the condatioal is true , the indented block of coad under the if statement is executed;otherwiseit is skipped
A  = "sunny"
if A == "sunny":
   print("you can play with your favorite toy")
print("have fun")

you can play with your favorite toy
have fun

In [ ]:
# ==> if else statements
# ==> if ==> coad to be executed if the condition is true
# ==>  else  ==> code to be executed if the condition is false
# syntex : if the condation is true, the coce block under the if branch is executed, and the code blocvk under the else branch is skipped.
#===> if the condition is false the code block under the else branch is executed and the code block under the if branch is skipped.

A  = "sunny"
if A == "sunny":
   print("you can play with your favorite toy")
   print("have fun")
else:
  print("roboot")
print("coad is end hear!!!")

you can play with your favorite toy
have fun
coad is end hear!!!

In [ ]:
w = "ranny"
if w == "sunny":
   print ("you can play with your car toy!")
else:
  print("its not sunny, so you can play with a different toy.")
print("enjoy your day")

its not sunny, so you can play with a different toy.
enjoy your day

In [ ]:
# if - elif - else statement
# ==> if ==> coad to be executed if the condition is true
# ==> elif==> code to be executed if condition 2 is true
# ==> elif==> code to be executed if condition 3 is true
# ==>  else  ==> code to be executed if the condition is false

w = input("Given w :")

if w == "sunny":
  print("play cricket")
elif w== "rainey":
  print("play indoor games its rainy")
else:
  print("robot")
print("code ended here!!!")

Given w :sunny
play cricket
code ended here!!!

In [ ]:
w = input("Given w :")

if w == "sunny":
  print("play cricket")
elif w== "rainey":
  print("play indoor games its rainy")
elif w=="Heavy rain":
  print("stay home ")
else:
  print("robot")
print("code ended here!!!")

Given w :Heavy rain
stay home
code ended here!!!

In [ ]:
weather = "snowy"
time_of_day = "night"

if weather == "sunny":
  print("you can play with your car toy.")
elif weather == "rainy":
  print("you can play with your boat toy.")
elif weather == "snowy"and time_of_day == "night":
  print("you can play with your teddy bear toy.")

else:
  print("you can play with your snowman toy.")
print("stay warm and have a great time!")

you can play with your teddy bear toy.
stay warm and have a great time!

In [ ]:
weather = "sunny"
time_of_day = "night"

if weather == "sunny":
   if time_of_day == "day":
      print("you play with your car toy.")
   else:
      print("its night time to sleep.")
elif weather == "rainy":
  print("you play with your boat toy")
elif weather == "snowy":
  if time_of_day == "night":
    print("you play with your teddy bear toy.")
  else:
    print("you play with your snowman toy,")
else:
  print("you stay inside and read a storybook")

its night time to sleep.

# Simple Calculator Program (project)

In [ ]:
#==> Create a basic calculagtor program that performs addition ,subtraction, multiplication and division
#==> Ask the user to enter two number and choose an operation.
#==> Display the result accordingly.
#==> Handle potential errors gracefully.


num_1 = int(input("Give 1st Number"))
num_2 = int(input("Give 2nd Number"))
operator = input("Give operator")


if operator == "+":
  print("Addation of 2 numbers is {num_1 + num_2}")
elif operator == "-":
  print("Subtraction of 2 numbers is {num_1 - num_2}")
elif operator == "*":
  print("Multiplication of 2 numbers is {num_1 * num_2}")
elif operator == "/":
  print("Division of 2 numbers is {num_1 / num_2}")
  print(num_1 / num_2)
else:
  print("not valid")

Give 1st Number23
Give 2nd Number25
Give operator*
Multiplication of 2 numbers is {num_1 * num_2}

In [ ]:
passing_marks = 40
total_marks = 100
a = int(input("enter your marks:"))
if  a >= 90 and  a <= 100:
    print("A+")
elif  a >= 80 and  a <= 90:
    print("A")
elif  a >= 70 and  a <= 80:
    print("B+")
elif  a >= 60 and  a <=70:
    print("B")
elif  a >= 50 and  a <= 60:
    print("c+")
elif  a >= 40 and  a <= 50:
    print("C")
elif  a >= 100:
    print(" invalid marks")

else :
    print ("better luck next time")

enter your marks:45
C

# Strings

In [ ]:
# What is strings?
# ==> Data type use to represent textual data .
# ==> They are sequences of characters and are enclosed in either.

#  single quotes (' '),
#  double quotes (" "),
#  triple quotes (""" """ or ''' ''')

In [ ]:
# How to create string ?
# ==> you can create string using single , double , or triple quotes.
# ==> Triple quotes are used for multiline strings or to include special characters like line breaks.

single_quoted = 'Hello,world!'
double_quoted = "Hello , world!"
multiline = ''' Hello,
            world!
            Welcome'''
multiline = """ Hello,
            world!
            Welcome"""

In [ ]:
print(single_quoted)

Hello,world!

In [ ]:
# STRING INDEXING:
# ==> strings are ordered sequences, and you can access individual characters using indexing. Python uses zero-based indexing, where the first character has an index of 0.

                     Str = "PyTHON"
                     P  Y  T  H  O  N
positive index ==>   0  1  2  3  4  5
Negative index ==>  -6 -5 -4 -3 -2 -1

In [ ]:
str = "python"
print(str)
print(str[0])
print(str[2])
print(str[-1])
print(str[-3])

python
p
t
n
h

In [ ]:
print(str[1])

y

In [ ]:
print(str[-1])

n

In [ ]:
print(str[1:3])

yt

In [ ]:
print(str[1:-1])

ytho

In [ ]:
print(str[:3])

pyt

In [ ]:
print(str[2:])

thon

In [ ]:
print(str[:-1])

pytho

In [ ]:
print(str[::2])

pto

In [ ]:
print(str[1::2])

yhn

In [ ]:
print(str[::-1])

nohtyp

In [ ]:
print(str(reversed))

<class 'reversed'>

In [ ]:
# String Concatenation
# you can concatenate string using the + operator:
first_name = "John"
last_name = "Doe"
full_name = first_name + "_" + last_name
print(full_name)

John_Doe

In [ ]:
# String Length
# you can find the length of a string using the len() function:
# ex:--
string1 = "coding is fun!"
print(len(string1))

14

In [ ]:
string2 = "Hello, World!"
print(len(string2))

13

In [ ]:
string3 = " abcdefghijk"
print(len(string3))

12

In [ ]:
string4 = "The quick brown fox jumps over the lazy dog."
print(len(string4))

44

In [ ]:
# STRING METHODS
# python provides numerous built-in methods for manipulating strings, such as converting cases, removing whitespaces, replacing characters, splitting, joining, and more.

In [ ]:
# python string manipulation Example

# Define the original string

s = "Hellow, world!"

# Convert the string to uppercase
print(s.upper())

# convert the string to lowercase
print(s.lower())

HELLOW, WORLD!
hellow, world!

In [ ]:
# Remove leadind and trailing whitespaces from the string
print(s.strip())

Hellow, world!

In [ ]:
# Replace all occurrences of 'o' with 'x' in the string
print(s.replace('o', 'x'))

Hellxw, wxrld!

In [ ]:
#count the numer of occurrences of 'a' in the string
print('Abracadabra'.count('a'))

4

In [ ]:
print(s.count('o'))

2

In [ ]:
# STRING METHODS
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.strip())
print(s.lstrip())
print(s.rstrip())

HELLOW, WORLD!
hellow, world!
Hellow, world!
Hellow, World!
Hellow, world!
Hellow, world!
Hellow, world!

In [ ]:
# STRING FORMATTING:
#==> python supports multiple ways of formatting strings,including old-style % formatting, str.format(),and f-strings(formatted string literals).
print("MY name is %s %s amd my age is %d"%("john", "Doe", 45))

MY name is john Doe amd my age is 45

In [ ]:
name = "ALice"
age = 30
# Using the '%' operator for string formatting (old-style)
print("My name is %s and Iam %d years old."% (name,age))

My name is ALice and Iam 30 years old.

In [ ]:
# Using the 'format()' method for string formatting
print("My name is {} and Iam {} years old." . format(name, age))

My name is ALice and Iam 30 years old.

In [ ]:
# Using the f-string (formatted string liters ) for string formatting (python)
print(f"My name is {name} and iam {age} years old.")

My name is ALice and iam 30 years old.

In [ ]:
# ESCAPE SEQUENCES:
#==> Special character combination that are used to represent characters that are otherwise difficult or impossible to include directly in a string
# /b ==> backspace(moves the cursor back one space)
# \f ==> from feed (used for some texr file formats)
# \n ==> newline(line break)
# \r ==> carriage return (use for some text file formates)
# \' ==> single quote
# \t ==> tap
# \" ==> double quote
# \\ ==> backslash

In [ ]:
# VOWEL COUNTER:
# write a program that takes a string input from the user and counts the number of vowels (A,E,I.O,U and their lowercases equivalents ) in the string
#  sample input : "Hello, world!"
# sample output : Number of vowels: 3

In [ ]:
s = input()
s2 = s.lower()
a = s2.count('a')
e = s2.count('e')
i = s2.count('i')
o = s2.count('o')
u = s2.count('u')
print(f"Number of vowels:{a+e+i+o+u}")

u
Number of vowels:1

In [ ]:
# GRADE CLACULATOR :
# Create a program that takes the marks of a students in different subjects as input.
# Claculate the total marks and average, and the display the corresponding grade based on the average.
# Simple input : marks in math :85,
#                marks in science : 90,
#                marks in english : 78

# simple output : Total Marks : 253,
#                 Averrage Marks : 84.33,
#                 Grade : A

In [ ]:
m = int(input("Marks in Math:"))
s = int(input("Marks in science:"))
e = int(input("Marks in english:"))
total_marks = m+s+e
average = total_marks/3
Percentage = (total_marks/300)*100
grade = ""

if Percentage > 90:
  grade = "A"
elif Percentage > 80:
  grade = "B"
elif Percentage > 70:
  grade = "c"
elif Percentage > 60:
  grade = "D"
elif Percentage > 50:
  grade = "E"
elif Percentage > 40:
  grade = "F"
else:
  grade = "G"
print(f"Total Marks:{total_marks}\nAverage Marks:{average}\nGrade:{grade}")

Marks in Math:85
Marks in science:90
Marks in english:78
Total Marks:253
Average Marks:84.33333333333333
Grade:B

In [ ]:
# PALINDROME CHECKER:
# write a program that takes a string input from the user and checks if it is a palindrome or not.
# Apalindrome is a word,phrase,number,or sequence of characters that reads the same backeard as forward.

# simple input: "radar"

# sample output: it is a palindrome

In [ ]:
s = input("Give a string:")
reverse = s[::-1]

if reverse == s:
  print("it is a palidrome.")
else:
  print("it is a palidrome.")

Give a string:mom
it is a palidrome.

In [ ]:
s = input("Give a string:")
reverse = s[::-1]

if reverse == s:
  print("it is a palidrome.")
else:
  print("it is a palidrome.")

Give a string:mass
it is a palidrome.

In [ ]:
# LARGEST OF THREE NUMBERS
#write a program that takes three numbers as input and finds the largest amoung them using decision-making statements.

# Sample input : Enter three numbers:15,8,21
# sample input : The largest number is 21.


a = input()

x,y,z = a.split(",")

num1 = int(x)
num2 = int(y)
num3 = int(z)
grate = 0
if num1 > num2:
  if num2 > num3:
    great = num2
  else:
    great = num3
elif num2 > num1:
  if num2 > num3:
    great = num2
  else:
    great = num3
elif num3 > num1:
  if num3 > num2:
    great = num3
  else:
    great = num2
print(great)

15,8,21
21

In [ ]:
# LEAP YEAR CHECKER
# Write a program that takes a year as input and checks if it is a leap year or not.
# HINT: ==> A leap year is divisible by 4, except for year that are divisible by 100 but not divisible by 400.

# Sample input : Enter a year:2024

# sample output : it is a leap year.

year = int(input())

leap = False

if year%100 == 0 and year%400 != 0:
  leap = False
  print("it is a leap year")
elif year%4 == 0:
  leap = True
else:
  leap = False
print(leap)

2016
True

In [ ]:
# TEMPERATURE CONVERTER:
# Build a temperature converter program that allow the user to convert temperatures between Celsius, kelvin and Fahrenheit.

# sample input : Enter temperature:32
#                Enter units(K or F or C):c

# sample output : Temperature in Fahrenheit:89.6F
#                 Temperature in Kelvin:305k

# LOOPS

## Recap of Decision Making

In [ ]:
#==> Decision making helps the computer decide what to do based on certain conditions.

# condation:==> Give chocolate to frind,if available in plate

# LOOPS: Loops are used to execute a block of code repeatedly as long as a certain condition is true or for a specific number of iterations
# types:==> 1) while, 2) for

In [ ]:

# while loop:==> The while loop executess a block of code as long as a specified condition is trust .
#===> It  continuously checks the condition before each iteration and stops when the condition becomes false.
# syntex:
#   while condition:
# code block to be executed repeatedly

candies = 10
while candies > 0 :
  # give one candey to a friend
  print("give a candy to a friend!")

  # Decreases the number of candies
  candies -= 1

while candies > 0 :
  print("give a candy to a friend!")

  candies -= 1
print(candies)

give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
0

In [ ]:
candies = 10
while candies > 0 :
  # give one candey to a friend
  print("give a candy to a friend!")

  # Decreases the number of candies
  candies -= 1

while candies > 0 :
  print("give a candy to a friend!")

  candies -= 1
print(candies)

give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
give a candy to a friend!
0

# FUNCTIONs
```

In [ ]:
# FUNCTIONDS:
#==>  Functions are block of organised, reusable code that perform a specific task/896*5665


#==> Dividing a complex problem into smaller chunka makes our program easy to inderstand and reuse.
#

# Types:--
#                            Library functions <== pre define <== FUNCTIONS ==> uder defined ==> user define functions,to reduce complexity of big program



# Declaration / Defining
#==> you define a function using the def key wored , followed by the function name, parentheses(), and a colon:


# syntex
#  def function_name(parameters):
     # Functiomn body




# Function call:
# to execute a function and run the code inside it you call the function by using its name followed by parentheses().

# syntex
# function_name (arguments)

# Parameters ans Arguments:
# function can take input values known as parameters or arguments.

# Parameters:
# parameters are defined in the function's parentheses during the function definition.

# Arguments:
# Arguments are the actual values passed to the function when it is called.

In [ ]:
 # Return Statement
 # ==>Functions can return a value using the return systement. the returned value can be assigned to a variable or used in expressions.

 def add(a,b):
  return a + b

result = add(3,5)
print(result)

8

In [ ]:
# All at One Place

#   def ==> keyword
#   function_name ==> Function name
#   (parameters):  ==> parameter

# def function_name(parameters):
 def function_name(parameters):

# LISTS

In [ ]:
# LIST:
# ==> A list is a versatile and mutable data structure used to store a collection of items.

#==> Defined using square brackets[]

#==> contain elements of defferent data types

#==> Allow duplicates.

# TUPLE

In [ ]:
# Tuple:
# ==> tuple is northing but we have to store any type of data values like intreger, string, float, list

# ex:==>  T = (20, 'Jessa', 35.75, [30,60,90])

#==> A tuple is an ordered, immutable collection of elements in python.

#==> It is similar to a list, but then main difference is that tuples connot be changed after creation.

#==> Onec a tuple created , you cannot add, remove, or modify its elements.

# CREATING TUPLE:
# ==> to creat a tuple, you use parentheses() with elements separated by commas.

my_tuple = ()
# Tuple with elements

my_tuple = (1, 2, 3)

#NOTE: ==> Tuple can also be created without parentheses, using comma-sepatated values.

In [ ]:
# ACCESSING VALUES:
#==> You can access the valuess in a dictionary using square brackets[] with the key.

my_tuple = (10,20,30)
print(my_tuple[0])

10

In [ ]:
# METHODS:
# Tuples have limited built-in methods due to their immutability.
# Some common methods include count() and index().

my_tuple= (1, 2, 3, 2)

# count the occurrences of a value in the tuple
count = my_tuple.count(2)
print(count) # output:2

# Find the index of the first occurrence of a value
index = my_tuple.index(3)
print(index)  # output: 2

2
2

# SETs

In [ ]:
# What is A Set ?

#==> Sets in python are an unordered collection of unique elements

#==> Defined using curly braces {} or the Set()

#==> Mutable

#==> Duplicate elementas are automatically removed.

In [ ]:
# Creating Sets

#==> Create a set by enclosing elements within curly braces{}.
#==> Alternetively , You can use the set()

# Creating an empty set
empty_set = set()

# Creating a set with elements
fruits = {'apple','banana','cherry'}

# Creating a set from a list
number = set([1, 2, 3, 4, 5])

In [ ]:
# Adding Elements:
# ==> add() method to add a single element to a set

my_set = {1,2}
my_set.add(3)
print(my_set)

{1, 2, 3}

In [ ]:
# Removing Elements:
# ==> removing elements using the remove() or discard() methods.

my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

## Set Operations

In [ ]:
# Union
# intersection
# Difference
# Symmetric difference

In [ ]:
# set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)  # output: {1, 2, 3, 4, 5, 6}

intersection_set = set1.intersection(set2)
print(intersection_set)  # output:{3}

difference_set = set1.difference(set2)
print(difference_set)   # output: {1,2}

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # output:{1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [ ]:
# Set Membership and Length:

#==> You can check if an element is present in a set using the in keyword.
#==> The len() function gives the number of elements in the set.

my_set = {1, 2, 3}
print(2 in my_set)   # output: True
print(4 in my_set)   # output: False

print(len(my_set))   # output: 3

True
False
3

In [ ]:
# Frozen sets:
# A frozen sets is an immutable version of set

my_set = {1, 2, 3}
frozen_set = frozenset(my_set)

In [ ]:
# Set Comprehensions
# Like list and dictionaries, sets also support comprehensions of concise set creation.

# set comprehension to create a set of squates
squares = {x**2 for x in range(1, 6)}  #output: {1, 4, 9, 16, 25}

In [ ]:
# Set Methodes
# ==> Some common set methodes include clear(), copy(), pop(), update(), etc.

my_set = {1, 2, 3}
my_set.clear()               #Removes all elements, resulting in an empty set
new_set = my_set.copy()      #Creates a shallow copy of the set

# DICTIONARY

In [ ]:
# ==> key_1 : value_1
#==> A dictonary is an unordered collection of key_value pairs.
#==> Are used to store data in the form of key-value prints, where each key is unique.

In [ ]:
# CREATING DICTIONARIES

# ==> To craet a dictionary, you use curly braces{} and specify key-value pairs separated by colons:.
# ==> Keys and values can be of any data type.

# creating a dictionary with name,age, and house information

my_dict = {'name': 'Harry', 'age': 11, 'house': 'Gryffindor'}

#printing the dictionary
print(my_dict)

{'name': 'Harry', 'age': 11, 'house': 'Gryffindor'}

In [ ]:
# ACCESSING VALUES

# You can access the values in a dictionary using square brackets[] with the key.

my_dict = {'name': 'Harry', 'age': 11, 'house': 'Gryffindor'}

# Accessing the values in the dictionary

name_value = my_dict['name']
age_value = my_dict['age']
house_value = my_dict['house']

In [ ]:
# CREATING LIST

# You enclose the elements inside square brackets, separated by commas.

empty_list = []
numbers = [1, 2, 3, 4, 5]
fruits = ["apple","banana","cherry"]
mixed_list = [1, "hello", 3.14, True]

In [ ]:
# ADDING VALUES:
#==> To add new key-value pairs or update existing ones in a dictionary, you can use square brackets[] and the assignment operator=.

my_dict = {'name':'harry', 'age': 11, 'house': 'Gryffindor'}

# adding a new key-value print to the dictionary

my_dict['gender'] = 'Male'

In [ ]:
# METHODDS:
#==> Dictionaries have several useful methods,

#=> keys()
#=> values()
#=> items()
#=> get()
#=> pop()
#=> update()

In [ ]:
# Looping :
#==> you can use loop to iterate through the keys or values of a dictionary
my_dict = {'name':'harry', 'age': 11, 'house': 'Gryffindor'}
for key in my_dict:
  print(key)

#loop through values
for value in my_dict.values():
  print(value)

#loop through key-value pairs
for key, value in my_dict.items():
  print(key, value)

name
age
house
harry
11
Gryffindor
name harry
age 11
house Gryffindor

In [ ]:
# Comprehensions:
#==> Similar to lists, dictionaries also support comprehensions for concise dictionary creation

squares_dict = {x: x**2 for x in range(1, 6)}

In [ ]:
# Find the sum of all elements in a given list of numbers.

# input : [10,20,30,40,50]
# output : sum of elements = 150

l = [10,20,30,40,50]
sum = 0
for i in l:
  sum = sum + i
print(sum)

150

In [ ]:
l = [10,20,30,40,50]
sum = 0

length = len(l)
for i in range(0,length):

print(sum)

IndentationError: expected an indented block after 'for' statement on line 5 (<ipython-input-22-b97a6e645845>, line 7)

In [ ]:
l = [10,20,30,40,50]
sum = 0

i = 0
length = len(l)
while i < length:
  sum = sum + l[i]
  i+=1
print(sum)

150

In [ ]:
#Find the maximum and minimum values in a list of numbers.
# input : 15,2,7,25,10
# output : maximum = 25,
#          minimum = 2

l = [15, 2,6,25, 10]
l.sort()

print(l[-1],l[0])

25 2

In [ ]:
# Remove duplicate elements from a list to creat a new list with unique element
# input: [10,20,30,20,40,10,50]
# output: [10,20,30,40,50]

inp = input().split(',')

l = [int(item) for item in inp]
# remove duplicate and create a new list
newL = []
# itereate over all the elements

for i in l:
  if i in newL:
    continue
  else:
    newL.append(i)
print(newL)

10,20,30,20,40,10,50
[10, 20, 30, 40, 50]

In [ ]:
inp = input().split(',')
l = [int(a) for a in inp]
s = set(l)
mewL = list(s)
print(newL)

10,20,30,10,40,10,50
[10, 20, 30, 40, 50]

In [ ]:
# Count the number of occurrnces of a specific element in a list.

# lnput:[1,2,3,2,1,4,2,5]
#       2
# output: count
l = [int(item) for itrm in input().split(",")]
n = int(input())

count = 0
for i in l:
  if i ==n:
    count+=1
print(count)

1,2,3,2,1,4,2,5

NameError: name 'item' is not defined

In [ ]:
# ACCESSING ELEMENTS:
#==> You can access individual elements of a list using their index.
#==> Indexing in python starts from O

fruits = ["apple", "banana", "cherry"]
print(fruits[0])      # output: apple
print(fruits[1])      # output: banana

#Python also supports negative indexing, where - 1 refers to the last element

apple
banana

In [ ]:
# Given two setrs,find their intersection (common elements ) and union (all unique elements combined).
# input : setA:{1,2,3,4,5}
#         setB:{4,5,6,7,8}

#output: intersection:{4,5}
#        union:m{1,2,3,4,5,6,7,8}

set1={1,2,3,4,5}
set2={4,5,6,7,8}

uset = set1.union(set2)
iset = set1.intersection(set2)

print(uset,iset)

{1, 2, 3, 4, 5, 6, 7, 8} {4, 5}

In [ ]:
# Creat dictonaries, access values, update values, and iterate through key-value pairs.
# input:  my_dict = {'name':'John','age':30,'city':'New York'}
# output: name:john
#         age:31
#         city: san francisco

my_dict = {
    'name':'John',
    'age':30,
    'city':'New York'
    }
for i,j in my_dict.items():
  print(i,j)


    # access value, update, iterate

name John
age 30
city New York

In [ ]:
my_dict = {}
a = input("Give Name ")
age = int(input("Give age "))
c = input("city: ")

my_dict["name"] = a
my_dict["age"] = age
my_dict["city"] = c

print(my_dict)

Give Name Ranjith
Give age 25
city: peddapalli
{'name': 'Ranjith', 'age': 25, 'city': 'peddapalli'}

In [ ]:
# Slicing Lists
#==> You can extract a portion of a list using slicing. Slicing allowsn you to create a new list which a subset of elementa.

numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])

[2, 3, 4]

In [ ]:
# Modifying Elements:
#==> ypu can modify individualn elements in a list by accessing them using their index and then assigning a new value.

fruits = ["apple", "banana", "cherry"]
fruits[0] = "orange"
print(fruits)

['orange', 'banana', 'cherry']

In [ ]:
# Methods

#            append()     clear()
#            Insert()     index()
#            remove()     count()
#               pop()     scor()
#                  reverse()

# append():   ==> Adds an elements to the end of the list.
# insert():   ==> Inserts an element at a specific index remove(): Removes the first occurrence of a specified element.
# pop():      ==> Removes and returns the element ar a specified index (or the last element if no index is given.)
# index():    ==> Returns the index of the first occurrence of a specified element.
# count():    ==> Return the number of occurrences of a specified element in the list
# sort():     ==> Sorts the list in ascending order.
# reverrse(): ==> reverse the order of the elements in the list.

In [ ]:
# List Concatenation:
#==> Lists can be concatenated using the + operator, which creates a new list containing elements from both lists.

list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# List comprehensions:
# ==> List comprehensions provide a concise way to create lists using a single line of code.

# syntax:
#==> new_list = [expression for item in iterable if condition]

squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]